<div>
	<nav class='navbar navbar-default'>
		<br>
		<div class='container-fluid'>
			<div class="row col-md-20">
				<div class="form-group col-md-5">
					<app-fulltree></app-fulltree>
				</div>
				<div class="col-md-15" style="margin-right:2cm" >
					<form class='form-horizontal' novalidate (ngSubmit)="save()" [formGroup]='dataEntryForm'>
						<fieldset>
							<div>
                                <div *ngFor="let formElement of formElements">
								<table border="1px" width='100%' align='right' style="margin-top:1cm">
									<br>
                                    <div *ngFor="let fields1 of fields">
									 <div *ngFor="let formfield of fields1">
											<div *ngIf="formfield.dataType=='text'">
												<div class="form-group col-md-6" [ngClass]="">
													<label class='col-md-6 control-label'>{{formfield.fieldName}}</label>
													<div class='col-md-6'>
														<input class="form-control" [formControlName]="formfield.fieldName" type="text" value="">
													</div>
												</div>
											</div>
											<div *ngIf="formfield.dataType=='select'">
												<div class="form-group col-md-6" [ngClass]="">
													<label class='col-md-6 control-label'>{{formfield.formfield}}</label>
													<div class='col-md-6'>
														<select class="form-control" [formControlName]="formfield.fieldName">                                    
                                            <option *ngFor="let option of formElement.value" value="{{option}}">{{option}}</option>                                                                       
                                        </select>
													</div>
												</div>
											</div>
									 </div>
                                      </div>
                                      <br>
                                        	</table>
                                            
									</div>
                                    <span>
                       <button  class="btn btn-primary"  style="margin-top:2cm" type="submit" [disabled]="false">Submit</button>
                    </span>
							
							</div>
							<br>
							<!--<div>
								<table border="1px" style="margin-top:1cm" width='100%' align='right'>
									<br>
									<div *ngFor="let formElement of formElements">
										<div *ngIf="formElement.section=='section2'">
											<div *ngIf="formElement.type=='text'">
												<div class="form-group col-md-6" [ngClass]="">
													<label class='col-md-6 control-label'>{{formElement.label}}</label>
													<div class='col-md-6'>
														<input class="form-control" [formControlName]="formElement.name" type="text">
													</div>
												</div>
											</div>
											<div *ngIf="formElement.type=='select'">
												<div class="form-group col-md-6" [ngClass]="">
													<label class='col-md-6 control-label'>{{formElement.label}}</label>
													<div class='col-md-6'>
														<select class="form-control" [formControlName]="formElement.name">                                    
                                            <option *ngFor="let option of formElement.value" value="{{option}}">{{option}}</option>                                                                       
                                        </select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</table>
							</div>-->
						</fieldset>
						
					</form>
				</div>
			</div>
		</div>
	</nav>
</div>
