<form class='form-horizontal' novalidate (ngSubmit)="save()" [formGroup]='dataEntryForm'>
	<fieldset>
		<div>
			<div *ngFor="let section of sections">
				<table border="1px" width='130%' align='right' style="margin-top:1cm">
					<br>
					<div *ngFor="let formfield of section.fields">
						<div *ngIf="formfield.dataType=='text'">
							<div class="form-group col-md-6" [ngClass]="">
								<label class='col-md-6 control-label'>{{formfield.fieldName}}</label>
								<div class='col-md-6'>
									<input class="form-control" [formControlName]="formfield.fieldId" type="text" value="{{formfield.fieldValue}}">
								</div>
							</div>
						</div>
						<div *ngIf="formfield.dataType=='select'">
							<div class="form-group col-md-6" [ngClass]="">
								<label class='col-md-6 control-label'>{{formfield.fieldName}}</label>
								<div class='col-md-6'>
									<select class="form-control" [formControlName]="formfield.fieldId">                                    
										<option *ngFor="let option of formfield.fieldPossibleValues" value="{{option.fieldValue}}">{{option.fieldValue}}</option>                                                                       
									</select>
								</div>
							</div>
						</div>
					</div>
					<br>
				</table>
			</div>
			<span>
               <button  class="btn btn-primary" style="margin-top:2cm" type="submit" [disabled]="false">Submit</button>
          </span>
		  {{pagesTitle}}
		</div>
		<br>
	</fieldset>
</form>